html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: #E9EFEC; /* Couleur de fond */
    color: #16423C; /* Couleur principale du texte */
}

/* Canvas en arrière-plan */
canvas#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Toujours derrière le contenu */
    pointer-events: none; /* Empêche toute interaction avec le canvas */
    background-color: transparent; /* Assurez-vous qu'il n'a pas de couleur de fond par défaut */
}

h1, h2, h3 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}

h2 {
    border-bottom: 2px solid #6A9C89;
    display: inline-block;
    padding-bottom: 5px;
}

/* En-tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16423C; /* Couleur principale */
    color: #E9EFEC; /* Texte clair */
    padding: 20px 40px;
    z-index: 1000; /* Au-dessus du canvas */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #E9EFEC; /* Texte clair */
    font-weight: bold;
    transition: color 0.3s;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #C4DAD2;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}


/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100%;
    background-color: #6A9C89; /* Couleur secondaire */
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1001;
}

#sidebar.open {
    left: 0;
}

#sidebar ul {
    list-style: none;
    padding: 20px;
}

#sidebar ul li {
    margin-bottom: 15px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #E9EFEC; /* Texte clair */
    display: block;
    padding: 10px;
}

/* Conteneur principal */
main {
    padding-top: 120px; /* Espace pour éviter de cacher le contenu sous l'en-tête */
    margin: 0 auto;
    width: 80%;
    max-width: 5000px;
}

section {
    margin-bottom: 40px;
    padding: 40px;
    background-color: #C4DAD2; /* Couleur de fond des sections */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 100px;
}

/* Section Formation */
#formation {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #C4DAD2; /* Fond de la section */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#formation h2 {
    text-align: center;
    font-size: 2rem;
    color: #16423C; /* Couleur principale */
    margin-bottom: 20px;
    border-bottom: 2px solid #6A9C89;
    padding-bottom: 5px;
    display: inline-block;
}

/* Conteneur des cartes */
.formations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Cartes individuelles */
.formation-card {
    flex: 1 1 calc(33% - 20px); /* 3 cartes par ligne */
    background: #E9EFEC;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}

.formation-card:hover {
    background: #6A9C89; /* Fond au survol */
    color: #fff; /* Texte blanc au survol */
    transform: scale(1.05); /* Agrandissement léger */
}

.formation-card h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #16423C;
}

/* Détails des formations */
.formation-detail {
    display: none; /* Caché par défaut */
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.formation-detail.active {
    display: block;
    opacity: 1; /* Rendu visible */
}


/* Section compétences */
#skills {
    margin-bottom: 60px;
    padding: 40px;
    background-color: #C4DAD2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.skills-item.reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.text {
    width: 70%;
}

.text h3 {
    color: #16423C; /* Couleur principale */
    margin-bottom: 10px;
    font-size: xx-large;
}

.text p {
    line-height: 1.6;
    text-align: left;
    padding-left: 15px;
}

.image {
    width: 30%;
    text-align: center;
    justify-content: space-around;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #C4DAD2; /* Contour des images */
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.05);
}

/* Section "À propos" */
#about-me {
    margin-bottom: 40px;
    padding: 40px;
    background-color: #C4DAD2;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-links {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.image-block {
    position: relative;
    width: 30%;
    max-width: 300px;
    border-radius: 20%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-block:hover {
    transform: translateY(-5px);
}

.image-block img {
    width: 100%;
    height: auto;
    display: block; 
    transition: filter 0.3s ease;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-block:hover img {
    filter: blur(4px);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9EFEC; /* Texte clair */
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-block:hover .overlay {
    opacity: 1;
}

/* Section Certifications */
#certifications {
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
    background: none;
    box-shadow: none;
}

.certification-header {
    display: inline-block;
    background-color: #16423C; /* Couleur principale */
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #E9EFEC; /* Texte clair */
}

.certification-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: auto;
}

.certification-item {
    position: relative;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.certification-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
}

.certification-item:hover img {
    filter: brightness(50%);
}

.certification-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9EFEC; /* Texte clair */
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.certification-item:hover .overlay {
    opacity: 1;
}

/* Section Projets */
#projects {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 40px;
    padding: 20px 0;
    background: none;
}

.project-header {
    background-color: #16423C;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #E9EFEC;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.project-item {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.project-item:hover img {
    filter: brightness(70%);
    transform: scale(1.05);
}

.project-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9EFEC; /* Texte clair */
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover .overlay {
    opacity: 1;
}

/* Responsive Design pour les cartes */
@media (max-width: 768px) {
    .formation-card {
        flex: 1 1 calc(50% - 20px); /* 2 cartes par ligne */
    }
}

@media (max-width: 480px) {
    .formation-card {
        flex: 1 1 100%; /* 1 carte par ligne */
    }
}
